<!DOCTYPE suite SYSTEM
"https://testng.org/testng-1.0.dtd">

<suite name="HioxRegisterSuite">

    <parameter name="browserName"
               value="chrome"/>

    <test name="RegisterTest">

        <classes>
            <class name="com.tests.RegisterTest"/>
        </classes>

    </test>

</suite>